body {
  display: grid;
  grid-template-rows: 100px auto 50px;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

nav, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  padding: 15px;
}

footer a {
  color: ivory;
}

main {
  display: grid;
  place-items: center;
  background-image: url('https://previews.123rf.com/images/redspruce/redspruce1409/redspruce140900015/32280224-doodle-food-icons-seamless-background.jpg');
  background-color: #e0e0e0;
  background-blend-mode: overlay;
}