{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
  <title>Dashboard</title>
{% endblock %}

{% block body %}
  <div class="content">
    <div class="content-left bg-secondary">
      <h1>Restaurant:<br>{{ name }}</h1>
      <h2>Description:<br>{{ description }}</h2>
    </div>
    <span></span>
    <div class="content-right bg-secondary">
      <h1>Items:</h1>
      <ul>
        {% for item in items %}
          <li>Name: {{ item.name }}<br>Description: {{ item.description }}<br><a class="btn btn-light btn-sm" href="/viewitem/{{ item.id }}">view</a> <a class="btn btn-light btn-sm" href="/edititem/{{ item.id }}">edit</a></li>
        {% endfor %}
      </ul>
      <a class="btn btn-light" href='/newitem'>Add Item</a>
    </div>
  </div>
{% endblock %}