{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <script defer src="{{ url_for('static', filename='js/index.js') }}"></script>
  <title>SeeFood</title>
{% endblock %}

{% block body %}
    <div class="content bg-secondary">
      <div class="control">
        <button type="button" class="btn btn-primary" onclick="handleShowRestRegister()">Register as a Restaurant</button>
        <p>Already have an account? <a href="javascript:;" onclick="handleShowRestLogin()">Log In</a></p>
      </div>
      <form class="rest-register hide" action="/api/restaurants" method="POST">
        <button type="button" class="btn btn-primary"  onclick="handleHideRestRegister()">&lt; back</button>
        <label style="color: white;" for="name">Restaurant Name:</label>
        <input type="text" name="name" required />
        <label style="color: white;" for="description">Restaurant Description:</label>
        <textarea name="description" required></textarea>
        <label style="color: white;" for="password">Password:</label>
        <input type="password" name="password" required />
        <input class="btn btn-primary" type="submit" value="Register" />
      </form>
      <form class="rest-login hide" action="/api/restaurants" method="GET">
        <button type="button" class="btn btn-primary"  onclick="handleHideRestLogin()">&lt; back</button>
        <label style="color: white;" for="name">Restaurant Name:</label>
        <input type="text" name="name" required />
        <label style="color: white;" for="password">Password:</label>
        <input type="password" name="password" required />
        <input class="btn btn-primary"  type="submit" value="Login" />
      </form>
    </div>
{% endblock %}