{% extends 'base.html' %}

{% block head %}
  <script defer src="{{ url_for('static', filename='js/newitem.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/newitem.css') }}">
  <title>Create New Item</title>
{% endblock%}

{% block body %}
    <form class="content" method="POST" action="/api/item">
      <input type="text" style="display: none;" name="restaurant" value="{{ rest_id }}">
      <label for="name">Item Name:</label>
      <input type="text" name="name" id="name-input" required>
      <label for="description">Description:</label>
      <textarea name="description" id="desc-input" required></textarea>
      <label for="ingredients">Ingredients:</label>
      <textarea type="text" name="ingredients" id="ing-input"></textarea>
      <label for="image">Picture of the Meal:</label>
      <input type="file" accept="image/png image/jpeg" name="image" id="image-input" required>
      <input type="submit" value="Create Item">
    </form>
{% endblock %}